body,header,footer,main,nav,section,article,div,p,aside,h1,h2,h3,h4,h5,h6,ol,ul,li,dl,dt,dd,table,caption,th,td,thead,tbody,tfoot,blockquote,form,fieldset,legend,input,button,select,figure,figcaption,address{margin:0px; padding:0px;}
ol,ul{list-style:none;}
table{border-collapse:collapse; border-spacing:0px;}
a{text-decoration:none;}
fieldset{border:0px;}
img{display:block; border:0px;}
caption,legend,hr{display:none;}
address,em,i{font-style:normal;}
q::before,q::after{content:"";}
input,button,select,textarea{box-sizing:border-box;}
textarea{resize:none;}